body{
    background-color: rgb(121, 74, 92);
    /* border: 4px solid black; */
}

.header{
  text-align: center;
  
  padding: 50px;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-left: 50%;
  width: 50px;
  height: 50px;
}

.results {
  text-align: center;
  
}